* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
}

header {
    background-color: #07203F;
    border-bottom: 1px solid #fff;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 55px 135px;
    font-size: 36px;
}

.nickname {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-link {
    font-family: 'Inter', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

/************************************* About me *********************************/

.about-me {
    background: #07203F;
    color: #D9D9D9;
}

.about-me {
    background: #07203F;
}

.about-container {
    display: flex;
    justify-content: space-between;
    padding: 135px 135px 150px 135px;
}

.about-me-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 800;
}

.about-text {
    font-family: 'Roboto', sans-serif;
    font-size: 2.25em;
    max-width: 605px;
}

.about-button {
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    color: #000;
    background-color: #D9D9D9;
    border-radius: 2.5em;
    max-width: 605px;
    border: none;
    text-transform: uppercase;
    padding: 28px 0;
    cursor: pointer;
}

.about-photo {
    border-radius: 50%;
    border-bottom: white 5px solid;
}

/********************************************* Skills ***************************************/

.skills {
    background: url("./img/gotham.png") no-repeat;
    background-size: cover;
}

.skills-container {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    padding: 135px 135px 150px 135px;
}

.skills-title {
    font-size: 4.5em;
    text-align: center;
    margin-bottom: 70px;
}

.skills-list {
    display: flex;
    justify-content: space-between;
}

.skills-list-item {
    width: 350px;
    border: 5px solid #D9AA90;
}

.skills-list-item:nth-child(2n) {
    border: 5px solid #07203F;
}

.skills-list-item:nth-child(2n) .item-decription {
    background-color: #D9AA90;
}

.item-img {
    height: 223px;
    object-fit: contain;
}

.item-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


.item-decription {
    font-size: 2.5em;
    background-color: #07203F;
    text-align: center;
    padding: 38px 0;
}

.skills-list-item:nth-child(2n) .item-decription {
    background-color: #D9AA90;
}

/********************************** Works *****************************************/

.works {
    background-color: #07203F;
}

.works-container {
    padding: 135px 165px 150px 165px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.works-title {
    font-size: 4.5em;
    text-align: center;
    margin-bottom: 70px;
}

.works-list {
    display: flex;
    flex-direction: column;
    gap: 134px;
}

.works-item {
    display: flex;
    justify-content: space-between;
}

.works-item:nth-of-type(2) {
    flex-direction: row-reverse;
}

.w-item-img {
    width: 540px;
    height: 367px
}

.w-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.w-item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.w-item-title {
    font-size: 3em;
    color: #D9D9D9;
    /* align-self: center; */
}

.w-item-text {
    font-family: 'Roboto', sans-serif;
    font-size: 2.25em;
    text-transform: none;
    color: #D9D9D9;
}